* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 10px;
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .header {
    font-family: Arial;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header_bg {
    background-color: #445160;
    align-self: flex-start;
  }
  .header__title_style {
    color: #fff;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 4.2rem;
  }
  .header__text_style {
    color: #fff;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  .header__text_style:last-child {
    margin-bottom: 0;
  }
  .header__text_style::before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .card {
    font-family: Arial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;
  }
  .card__desc {
    align-self: flex-start;
  }
  .card_style {
    padding: 5rem;
  }
  .card__title_style {
    font-size: 3rem;
    color: #333;
    margin-top: 0;
  }
  .card__text_style {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
  .card__text_style:last-child {
    margin-bottom: 0;
  }
}