* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  overflow-X: hidden;
}

body {
  margin: 0;
}

html {
  min-width: none;
  font-size: 10px;
  overflow-x: hidden;
}

.header {
  max-width: 1300px;
  font-family: Arial;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 18rem;
}
.header_bg {
  background-color: #445160;
  align-self: flex-start;
}
.header__placeholder_style {
  flex-shrink: 0;
}
.header__title_style {
  color: #fff;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 4.2rem;
}
.header__text_style {
  color: #fff;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
.header__text_style:last-child {
  margin-bottom: 0;
}
.header__text_style::before {
  content: "\f00c";
  font-family: FontAwesome;
  margin-right: 1rem;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    font-family: Arial;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  .header_bg {
    background-color: #445160;
    align-self: flex-start;
  }
  .header__placeholder {
    width: 35rem;
    height: 21.4rem;
  }
  .header__title_style {
    color: #fff;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 4.2rem;
  }
  .header__text_style {
    color: #fff;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  .header__text_style:last-child {
    margin-bottom: 0;
  }
  .header__text_style::before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 1rem;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .header {
    font-family: Arial;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  .header_bg {
    background-color: #445160;
    align-self: flex-start;
  }
  .header__placeholder {
    width: 46.9rem;
    height: 21.4rem;
    max-width: 100%;
  }
  .header__title_style {
    color: #fff;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 4.2rem;
  }
  .header__text_style {
    color: #fff;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  .header__text_style:last-child {
    margin-bottom: 0;
  }
  .header__text_style::before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 1rem;
  }
}

.card {
  max-width: 1300px;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__desc_style {
  align-self: flex-start;
  max-width: 64rem;
}
.card_style {
  padding: 5rem;
  gap: 3rem;
}
.card__title_style {
  font-size: 3rem;
  color: #333;
  margin-top: 0;
  font-weight: normal;
}
.card__text_style {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  line-height: 2.3rem;
}
.card__text_style:last-child {
  margin-bottom: 0;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    font-family: Arial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .card__desc_style {
    align-self: flex-start;
    max-width: 43rem;
  }
  .card_style {
    padding: 5rem;
    gap: 5rem;
  }
  .card__placeholder {
    width: 35rem;
    height: 24.5rem;
  }
  .card__title_style {
    font-size: 3rem;
    color: #333;
    margin-top: 0;
    font-weight: normal;
  }
  .card__text_style {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
    line-height: 2.3rem;
  }
  .card__text_style:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .card {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .card__desc_style {
    align-self: flex-start;
    max-width: 43rem;
  }
  .card_style {
    padding: 5rem;
    gap: 4rem;
  }
  .card__placeholder {
    width: 43rem;
    height: 24.5rem;
    max-width: 100%;
  }
  .card__title_style {
    font-size: 3rem;
    color: #333;
    margin-top: 0;
    font-weight: normal;
  }
  .card__text_style {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
    line-height: 2.3rem;
  }
  .card__text_style:last-child {
    margin-bottom: 0;
  }
}

.productPlus {
  max-width: 1300px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
}
.productPlus_style {
  background-color: rgb(247, 243, 243);
  padding: 5rem 7.6rem 5rem 5rem;
  gap: 3.6rem;
}
.productPlus__title_style {
  font-size: 2.9rem;
  color: #445160;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.productPlus__text-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.9rem;
  max-width: 52.6rem;
}
.productPlus__row {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
}
.productPlus__text_style {
  font-size: 1.5rem;
  line-height: 2.3rem;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .productPlus {
    font-family: Arial;
    display: flex;
    flex-direction: column;
  }
  .productPlus_style {
    background-color: rgb(247, 243, 243);
    padding: 5rem 7.6rem 5rem 5rem;
    gap: 3.6rem;
  }
  .productPlus__title_style {
    font-size: 2.9rem;
    color: #445160;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
  .productPlus__text-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.9rem;
    max-width: 38.5rem;
  }
  .productPlus__row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .productPlus__text_style {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .productPlus {
    font-family: Arial;
    display: flex;
    flex-direction: column;
  }
  .productPlus_style {
    background-color: rgb(247, 243, 243);
    padding: 5rem 7.6rem 5rem 5rem;
    gap: 3.6rem;
  }
  .productPlus__title_style {
    font-size: 2.9rem;
    color: #445160;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
  .productPlus__text-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.9rem;
    max-width: 38.5rem;
  }
  .productPlus__row {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .productPlus__text_style {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}

.productScrinshots {
  max-width: 1300px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 6.6rem 5rem 5rem;
}
.productScrinshots__title_style {
  text-align: center;
  font-size: 2.9rem;
  font-weight: normal;
  color: #445160;
  margin: 0;
}
.productScrinshots__row {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.productScrinshots__image_text_style {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.productScrinshots__placeholder_style {
  position: relative;
  width: 20rem;
  max-height: 15rem;
  top: 5px;
}
.productScrinshots__desc {
  align-self: flex-start;
}
.productScrinshots__desc_style {
  max-width: 32rem;
}
.productScrinshots__desc_title_style {
  font-size: 2.3rem;
  font-weight: normal;
  color: #445160;
  margin: 0;
  margin-bottom: 2rem;
}
.productScrinshots__desc_text_style {
  font-size: 1.6rem;
  line-height: 2.3rem;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .productScrinshots {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 6.6rem 5rem 5rem;
  }
  .productScrinshots__title_style {
    text-align: center;
    font-size: 2.9rem;
    font-weight: normal;
    color: #445160;
    margin: 0;
  }
  .productScrinshots__row {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
  }
  .productScrinshots__image_text_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .productScrinshots__placeholder_style {
    width: 20rem;
    max-height: 30rem;
  }
  .productScrinshots__desc {
    align-self: flex-start;
  }
  .productScrinshots__desc_style {
    max-width: 32rem;
  }
  .productScrinshots__desc_title_style {
    font-size: 2.3rem;
    font-weight: normal;
    color: #445160;
    margin: 0;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .productScrinshots__desc_text_style {
    font-size: 1.6rem;
    line-height: 2.3rem;
    text-align: center;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .productScrinshots {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 6.6rem 5rem 5rem;
  }
  .productScrinshots__title_style {
    text-align: center;
    font-size: 2.9rem;
    font-weight: normal;
    color: #445160;
    margin: 0;
  }
  .productScrinshots__row {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .productScrinshots__image_text_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .productScrinshots__placeholder_style {
    width: 20rem;
    max-height: 30rem;
  }
  .productScrinshots__desc {
    align-self: flex-start;
  }
  .productScrinshots__desc_style {
    max-width: 32rem;
  }
  .productScrinshots__desc_title_style {
    font-size: 2.3rem;
    font-weight: normal;
    color: #445160;
    margin: 0;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .productScrinshots__desc_text_style {
    font-size: 1.6rem;
    line-height: 2.3rem;
    text-align: center;
  }
}

.reviews {
  max-width: 1300px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.reviews__title_style {
  font-size: 2.9rem;
  color: #445160;
  text-align: center;
  margin: 0;
  font-weight: normal;
}
.reviews_style {
  background-color: rgb(247, 243, 243);
  padding: 5rem;
}
.reviews__row {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}
.reviews__image-text {
  display: flex;
  flex-direction: row;
  gap: 4.3rem;
  max-width: 54rem;
}
.reviews__image {
  max-width: 7.5rem;
  max-height: 7.5rem;
}
.reviews__text_style {
  background-color: rgb(232, 231, 231);
  padding: 2rem;
  color: #333;
  line-height: 2.3rem;
}
.reviews__text__desc_style {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.reviews__text__name {
  font-size: 1.3rem;
  color: rgba(68, 81, 96, 0.4);
}
.reviews__text__desc__arrow_style {
  position: absolute;
  width: 2rem;
  height: 2.5rem;
  background: rgb(232, 231, 231);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  left: -4rem;
  top: 0.2rem;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
  }
  .reviews__title_style {
    font-size: 2.9rem;
    color: #445160;
    text-align: center;
    margin: 0;
    font-weight: normal;
  }
  .reviews_style {
    background-color: rgb(247, 243, 243);
    padding: 5rem;
  }
  .reviews__row {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
  }
  .reviews__image-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
  .reviews__image {
    max-width: 7.5rem;
    max-height: 7.5rem;
  }
  .reviews__text_style {
    background-color: rgb(232, 231, 231);
    padding: 2rem;
    color: #333;
    line-height: 2.3rem;
  }
  .reviews__text__desc_style {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
  .reviews__text__name {
    font-size: 1.3rem;
    color: rgba(68, 81, 96, 0.4);
  }
  .reviews__text__desc__arrow_style {
    position: absolute;
    width: 2.5rem;
    height: 2rem;
    background: rgb(232, 231, 231);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 50%;
    transform: translate(-50%);
    top: -3.9rem;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
  }
  .reviews__title_style {
    font-size: 2.9rem;
    color: #445160;
    text-align: center;
    margin: 0;
    font-weight: normal;
  }
  .reviews_style {
    background-color: rgb(247, 243, 243);
    padding: 5rem;
  }
  .reviews__row {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .reviews__image-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
  .reviews__image {
    max-width: 7.5rem;
    max-height: 7.5rem;
  }
  .reviews__text_style {
    background-color: rgb(232, 231, 231);
    padding: 2rem;
    color: #333;
    line-height: 2.3rem;
  }
  .reviews__text__desc_style {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
  .reviews__text__name {
    font-size: 1.4rem;
    color: rgba(68, 81, 96, 0.4);
  }
  .reviews__text__desc__arrow_style {
    position: absolute;
    width: 2.5rem;
    height: 2rem;
    background: rgb(232, 231, 231);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 50%;
    transform: translate(-50%);
    top: -3.9rem;
  }
}

.tarifs {
  max-width: 1300px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.tarifs_style {
  padding: 5rem 14.5rem;
}
.tarifs__title_style {
  font-size: 2.9rem;
  color: #445160;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.tarifs__variants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 4.5rem;
}
.tarifs__card {
  background-color: #445160;
  border-radius: 7px;
}
.tarifs__card__title_style {
  font-size: 2.3rem;
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin: 1.7rem auto;
}
.tarifs__card__price_style {
  font-size: 3.9rem;
  color: #445160;
  font-weight: normal;
  text-align: center;
  background-color: #fff;
  border: solid 1px #445160;
}
.tarifs__card__text_style {
  margin: 2rem;
}
.tarifs__card__bonus_style {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.95;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .tarifs {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
  }
  .tarifs_style {
    padding: 5rem 14.5rem;
  }
  .tarifs__title_style {
    font-size: 2.9rem;
    color: #445160;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
  .tarifs__variants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 4.5rem;
  }
  .tarifs__card {
    background-color: #445160;
    border-radius: 7px;
    width: 30rem;
  }
  .tarifs__card__title_style {
    font-size: 2.3rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
    margin: 1.7rem auto;
  }
  .tarifs__card__price_style {
    font-size: 3.9rem;
    color: #445160;
    font-weight: normal;
    text-align: center;
    background-color: #fff;
    border: solid 1px #445160;
  }
  .tarifs__card__text_style {
    margin: 2rem;
  }
  .tarifs__card__bonus_style {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.95;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .tarifs {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
  }
  .tarifs_style {
    padding: 5rem 14.5rem;
  }
  .tarifs__title_style {
    font-size: 2.9rem;
    color: #445160;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
  .tarifs__variants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 4rem;
  }
  .tarifs__card {
    background-color: #445160;
    border-radius: 7px;
    width: 30rem;
  }
  .tarifs__card__title_style {
    font-size: 2.3rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
    margin: 1.7rem auto;
  }
  .tarifs__card__price_style {
    font-size: 3.9rem;
    color: #445160;
    font-weight: normal;
    text-align: center;
    background-color: #fff;
    border: solid 1px #445160;
  }
  .tarifs__card__text_style {
    margin: 2rem;
  }
  .tarifs__card__bonus_style {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.8;
  }
}

.btn_style {
  color: #445160;
  display: block;
  width: calc(100% - 4rem);
  margin: 0 auto 2rem;
  background-color: #fff;
  font-size: 1.7rem;
  padding: 1.4rem 0;
  border-radius: 5px;
}

.footer {
  max-width: 1300px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
}
.footer_style {
  background-color: #445160;
  padding: 5.3rem 0 5rem 0;
}
.footer__title_style {
  text-align: center;
  font-size: 2.9rem;
  font-weight: normal;
  color: #fff;
  margin: 0;
  margin-bottom: 3.2rem;
}
.footer__contacts_style {
  display: flex;
  flex-direction: row;
  gap: 4.6rem;
}
.footer__contacts__form_style {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  flex-grow: 1;
}
.footer__contacts__form__placeholder_style {
  font-family: Arial;
  padding: 1.4rem 0 1.5rem 0.92rem;
  border-radius: 5px;
  resize: none;
  min-width: 44rem;
}
.footer__contacts__callback_style {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__contacts__callback__refs_style {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
.footer__contacts__callback__refs_style:hover {
  text-decoration: underline;
}
.footer__contacts__callback__refs_style:first-child::before {
  content: url("/../images/skype_icon.png");
  vertical-align: middle;
  margin-right: 0.43rem;
}
.footer__contacts__callback__refs_style:nth-child(2)::before {
  content: url("/../images/icq_icon.png");
  vertical-align: middle;
  margin-right: 0.43rem;
}
.footer__contacts__callback__refs_style:nth-child(3)::before {
  content: url("/../images/email_icon.png");
  vertical-align: middle;
  margin-right: 0.43rem;
}
.footer__contacts__callback__refs_style:nth-child(4)::before {
  content: url("/../images/phone_icon.png");
  vertical-align: middle;
  margin-right: 0.43rem;
}
.footer__contacts__logo_style {
  font-size: 6rem;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer_style {
    background-color: #445160;
    padding: 5.3rem 0 5rem 0;
  }
  .footer__title_style {
    text-align: center;
    font-size: 2.9rem;
    font-weight: normal;
    color: #fff;
    margin: 0;
    margin-bottom: 3.2rem;
  }
  .footer__contacts_style {
    display: flex;
    flex-direction: row;
    gap: 4.6rem;
  }
  .footer__contacts__form_style {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    flex-grow: 1;
  }
  .footer__contacts__form__placeholder_style {
    font-family: Arial;
    padding: 1.4rem 0 1.5rem 0.92rem;
    border-radius: 5px;
    resize: none;
    min-width: 44rem;
  }
  .footer__contacts__callback_style {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer__contacts__callback__refs_style {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
  }
  .footer__contacts__callback__refs_style:hover {
    text-decoration: underline;
  }
  .footer__contacts__callback__refs_style:first-child::before {
    content: url("/../images/skype_icon.png");
    vertical-align: middle;
    margin-right: 0.43rem;
  }
  .footer__contacts__callback__refs_style:nth-child(2)::before {
    content: url("/../images/icq_icon.png");
    vertical-align: middle;
    margin-right: 0.43rem;
  }
  .footer__contacts__callback__refs_style:nth-child(3)::before {
    content: url("/../images/email_icon.png");
    vertical-align: middle;
    margin-right: 0.43rem;
  }
  .footer__contacts__callback__refs_style:nth-child(4)::before {
    content: url("/../images/phone_icon.png");
    vertical-align: middle;
    margin-right: 0.43rem;
  }
  .footer__contacts__logo_style {
    font-size: 6rem;
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer_style {
    background-color: #445160;
    padding: 5.3rem 0 5rem 0;
  }
  .footer__title_style {
    text-align: center;
    font-size: 2.9rem;
    font-weight: normal;
    color: #fff;
    margin: 0;
    margin-bottom: 3.2rem;
  }
  .footer__contacts_style {
    display: flex;
    flex-direction: column;
    gap: 4.6rem;
    align-items: center;
  }
  .footer__contacts__form_style {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    flex-grow: 1;
    padding: 2rem;
  }
  .footer__contacts__form__placeholder_style {
    font-family: Arial;
    padding: 1.4rem 0 1.5rem 0.92rem;
    border-radius: 5px;
    resize: none;
    min-width: 80vw;
    font-size: 1.8rem;
  }
  .footer__contacts__callback_style {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer__contacts__callback__refs_style {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
  }
  .footer__contacts__callback__refs_style:hover {
    text-decoration: underline;
  }
  .footer__contacts__callback__refs_style:first-child::before {
    content: url("/../images/skype_icon.png");
    vertical-align: middle;
    margin-right: 0.43rem;
  }
  .footer__contacts__callback__refs_style:nth-child(2)::before {
    content: url("/../images/icq_icon.png");
    vertical-align: middle;
    margin-right: 0.43rem;
  }
  .footer__contacts__callback__refs_style:nth-child(3)::before {
    content: url("/../images/email_icon.png");
    vertical-align: middle;
    margin-right: 0.43rem;
  }
  .footer__contacts__callback__refs_style:nth-child(4)::before {
    content: url("/../images/phone_icon.png");
    vertical-align: middle;
    margin-right: 0.43rem;
  }
  .footer__contacts__logo_style {
    font-size: 6rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
}

.footer__copyright_style {
  background-color: rgb(247, 243, 243);
  color: #445160;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.8rem 0;
}

.footer__btn {
  font-family: Arial;
  align-self: center;
}
.footer__btn_style {
  background-color: #fff;
  width: 14rem;
  height: 4rem;
  border-radius: 5px;
  color: #445160;
}